.application-credential-content {
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
  width: calc(100% - 100px);
  display: flex;
  gap: 26px;

  .application-credential-bar {
    display: flex;
    gap: 10px;
    width: 30%;
    .top-first-side-img {
      width: 30px;
      height: 32px;
    }
  }
  .application-credential-bar2 {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
    .bar2-child {
      display: flex;
      gap: 10px;
    }
    .top-second-side-img {
      width: 24px;
      height: 24px;
    }
    .clientid {
      display: flex;
      justify-content: space-between;
      .clientid-prg {
        color: #bdbdbd;
      }
      .clientid-hd {
        color: #1d1f24;
        font-weight: 500;
        font-size: 14px;
      }
    }
    .client-secret {
      display: flex;
      justify-content: space-between;
      .clientid-prg {
        color: #bdbdbd;
      }
      .clientid-hd {
        color: #1d1f24;
        font-weight: 500;
        font-size: 14px;
      }
    }
    button {
      font-family: "Poppins-Medium";
      font-size: 14px;

      font-weight: 400;
      line-height: 20px;
      border: none;
      background-color: #fff;
      color: rgb(230, 90, 90);
      margin-top: 15px;
      margin-bottom: 10px;
    }
    .client-last-section {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      border-radius: 10px;
      background-color: #ffdbdb;
      button {
        background-color: rgb(230, 86, 86);
        color: #fff !important;
        border: none;
      }
      .last-section-prg {
        color: #4d0606;

        font-family: "Poppins-Medium";
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
      }
      .last-section-prg2 {
        color: #4d0606;

        font-family: "Poppins-Medium";
        font-size: 12px;
        font-style: normal;
        // font-weight: 700;
        line-height: 18px;
      }
      .ant-modal-wrap {
        .ant-modal {
          .ant-modal-content {
            background-color: none !important;
            box-shadow: none !important;
          }
        }
      }
    }
  }
  .get-started-text-Overview {
    color: #1d1f24;
    font-family: "Poppins-Medium";
    text-align: center;
    font-size: 14px;

    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
  }
}

.cards {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  width: calc(100% - 100px);
  .card-heading {
    color: #1d1f24;
    margin-bottom: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2px;
  }
  .ant-row {
    display: flex;
    overflow-x: auto;
    gap: 18px;
  }
  .ant-col {
    border: 1px solid #e0dfdf;
    border-radius: 10px;
  }
  .card-child {
    border: 1px solid #e6dfdf;
    border-radius: 10px;
    width: 24%;
  }
  .ant-row {
    flex-flow: nowrap;
  }
  @include sm {
    justify-content: flex-start;
  }
}

.moderation-matrics {
  margin-top: 30px;
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 48px;
  width: calc(100% - 100px);
  flex-direction: column;
  display: flex;

  gap: 50px;
  .welcome-user {
    margin-left: 30px;
    color: #1d1f24;
    font-family: "Poppins-SemiBold";
    font-size: 24px;
    font-weight: 600;
  }

  .get-started-text-content {
    .hd {
      font-family: "Poppins-Regular";
      font-size: 22px;

      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.22px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .get-started-text {
      color: #7662ea !important;
      font-size: 16px !important;
    }
  }
  .get-started-image {
    margin-top: 40px;
  }

  .bottom {
    display: flex;
    background-color: #1e0e62;
    color: aliceblue;
    border-radius: 10px;
    display: flex;

    justify-content: space-between;

    display: flex;
    .bottom-first-side {
      display: flex;
      color: aliceblue;
      margin: 25px;
      gap: 20px;
      display: flex;

      .bottom-first-side-text {
        color: aliceblue;
        margin-bottom: 0;
        font-size: 16px;
      }
      .bottom-first-side-img {
        width: 72px;
        height: 80px;
        flex-shrink: 0;
      }
      .img-parent {
        background-color: aliceblue;
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
      }
    }

    .bottom-second-side {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .input-button-parent {
        display: flex;
        gap: 10px;

        .join-button {
          background-color: #7662ea;
          height: 40px;
          color: #fff !important;
          margin-right: 20px;
          border: none !important;
        }
      }
    }
  }
}
.ant-tabs-nav-list {
  .ant-tabs-ink-bar {
    background-color: #7662ea !important;
  }
  color: #1e0e62 !important;
  .ant-tabs-tab-btn {
    color: #1f1f1f !important;
  }
}

.delete-modal {
  background-color: none !important;

  .ant-modal-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ant-modal-content {
    background-color: transparent !important;
    box-shadow: none !important;

    margin: 0 !important;
  }
}
