.delete-application {
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;

  gap: 26px;
  margin-left: auto;
  margin-right: auto;

  .application-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    .text-application {
      color: #e55d57;
      font-family: "Poppins-Medium";
      font-size: 10px;
      font-weight: 400;
      margin-top: 5px;

      margin-bottom: 20px;
    }
  }
  .get-started-text-Overview {
    color: #1d1f24;
    font-family: "Poppins-Medium";
    font-size: 22px;
    font-weight: 500;

    margin-bottom: 20px;
  }

  .create-app-btn {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: flex-end;

    .Create-btn2 {
      background-color: rgb(230, 86, 86);
      color: #fff !important;
      border: none;
    }
  }
}

.application-delete-top {
  display: flex;
  align-items: center;
  color: aliceblue;
  border-radius: 10px;
  display: flex;
  margin-left: auto !important;
  margin-right: auto !important;
  justify-content: space-between;

  margin-bottom: 10px;

  display: flex;
  .top-first-side {
    display: flex;
    color: aliceblue;

    align-items: center;
    gap: 20px;
    .top-first-side-text {
      color: rgb(0, 0, 0);
      font-size: 28px;
      font-weight: 600;
    }
  }
  .input-top-parent {
    .join-button {
      background-color: rgba(28, 28, 28, 0.05);

      color: #141414 !important;
      font-weight: 600;
      border: none !important;
      margin-top: 15px;
    }
  }
}
